:root {
  --sp-1400: 112px;
  --sp-1000: 80px;
  --sp-900: 72px;
  --sp-800: 64px;
  --sp-700: 56px;
  --sp-500: 40px;
  --sp-400: 32px;
  --sp-300: 24px;
  --sp-200: 16px;
  --sp-100: 8px;
  --sp-50: 4px;

}
