@use 'spacings';
@use 'colors';
@use 'fonts';
@use 'components';


* {
  margin: 0;
}

.TODO {
  display: none;
}

.header .header-logo {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding-top: var(--sp-1000);

  .header-logo-img {
    width: 118px;
    height: 28px
  }
}

.header .header-hero {
  padding: var(--sp-800) var(--sp-1000);

  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-areas:
  "left-hero text-content right-hero";
  align-content: center;
  justify-content: center;
  column-gap: var(--sp-400);


  .hero-image-left {
    grid-area: left-hero;
    img {
      position: relative;
      left: -25%;
    }
  }

  .hero-image-right {
    position: relative;
    top: 10%;
    left: 20%;
    grid-area: right-hero;
  }

  .header-hero-grid-content {
    display: flex;
    flex-direction: column;
    gap: var(--sp-400);
    align-items: center;
    justify-content: center;
    text-align: center;
    grid-area: text-content;

    .header-hero-heading {
      @include fonts.text-preset-1;
      color: colors.$slate-900;
      min-width: 448px;
    }

    .header-hero-copy {
      @include fonts.text-preset-4;
      color: colors.$slate-600;
    }

    .header-hero-buttons {
      display: flex;
      gap: var(--sp-200);

    }

    .header-hero-download-button {
      background-color: colors.$cyan-600;

      &:hover, &:focus {
        background-color: #71C0D4;
      }

      @include fonts.text-preset-5;

      .text {
        color: colors.$white;
      }

      .version {
        color: colors.$cyan-300;
      }
    }

    .header-hero-whatisit-button {
      &:hover, &:focus {
        background-color: #B186DD;
      }
      background-color: colors.$purple-600;
      @include fonts.text-preset-5;
      color: colors.$white;
    }



  }
}

.middle-section {
  padding: var(--sp-700) var(--sp-1000) var(--sp-900) var(--sp-1000);
  display: flex;
  justify-content: center;
  align-items: center;

  .middle-section-content {
    display: flex;
    flex-direction: column;
    gap: var(--sp-800);
    max-width: 100%;


    .images {
      display: flex;
      gap: var(--sp-400);

      img {
        max-width: 256px;
        min-width: 0;
        border-radius: 8px;
      }
    }

    .text-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: var(--sp-400);
      text-align: center;

      .heading {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: var(--sp-200);

        p {
          @include fonts.text-preset-3;
          color: colors.$cyan-600;
        }

        h2 {
          @include fonts.text-preset-2;
          color: colors.$slate-900;
          max-width: 445px;
        }
      }
      p {
        @include fonts.text-preset-4;
        color: colors.$slate-600;
        max-width: 45ch;
      }
    }


  }

}

.last-section {

  footer {
    margin-top: -28px;
    padding: var(--sp-1400) var(--sp-1000);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--sp-400);
    justify-items: center;
    align-items: top;
    background-image:
    linear-gradient(rgba(colors.$cyan-600, 90%), rgba(colors.$cyan-600, 90%)),
    url("../assets/desktop/image-footer.jpg");
    background-size: cover;
    background-position: center;

    .heading {
      @include fonts.text-preset-2;
      color: colors.$white;
      justify-self: start;
    }

    .copy {
      @include fonts.text-preset-4;
      color: colors.$white;
    }

    .button-component {
      justify-self: end;
      align-self: start;
      background-color: colors.$purple-600;
      &:hover, &:focus {
        background-color: #B18BDD;
      }
      @include fonts.text-preset-5;
      color: colors.$white;
      .version-text {
        color: colors.$purple-300;
      }
    }

  }
}


@media (max-width: 768px) {
  .header .header-hero {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
    "left-hero left-hero"
    "text-content text-content";
    // align-content: center;
    // justify-content: center;
    column-gap: var(--sp-400);
    row-gap: var(--sp-900);
    overflow: clip;

    .hero-image-left {
      grid-area: left-hero;
      object-position: center;
    }

    .hero-image-right {
      display: none;
    }

    .header-hero-grid-content {
      grid-area: text-content;
      align-self: end;
      justify-self: center;
    }
  }

  .middle-section {

    .middle-section-content {

      .images {
        display: flex;
        gap: var(--sp-300);
      }

    }

  }

  .last-section {

    footer {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: var(--sp-300);
      text-align: center;

      background-image:
      linear-gradient(rgba(colors.$cyan-600, 90%), rgba(colors.$cyan-600, 90%)),
      url("../assets/tablet/image-footer.jpg");
      background-size: cover;

      .button-component {
        align-self: auto;
      }

      }

    }
}

@media (max-width: 576px) {
  .header .header-hero {
    padding: var(--sp-800) var(--sp-400);

    column-gap: var(--sp-200);
    row-gap: 48px;
    overflow: clip;

    .header-hero-grid-content {
      gap: var(--sp-300);

      .header-hero-buttons {
        flex-direction: column;
        align-items: center;
      }

    }

  }

  .middle-section {
    padding: var(--sp-400);

    .middle-section-content {

      .images {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: var(--sp-200);
        justify-items: center;
        align-items: center;

        img {
          max-width: 100%;
        }
      }
    }

    }


  .last-section {

    footer {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: var(--sp-300);
      text-align: center;
      padding: var(--sp-800) var(--sp-400);

      background-image:
      linear-gradient(rgba(colors.$cyan-600, 90%), rgba(colors.$cyan-600, 90%)),
      url("../assets/mobile/image-footer.jpg");
      background-size: cover;

      .button-component {
        align-self: auto;
      }

      }

    }
  }
