@use 'spacings';
@use 'colors';
@use 'fonts';


* {
  margin: 0;
}

.TODO {
  display: none;
}

.header .header-logo {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding-top: var(--sp-1000);

  .header-logo-img {
    width: 118px;
    height: 28px
  }
}

.header .header-hero {
  display: flex;
  padding: var(--sp-800) var(--sp-1000);

  background-image:
  url("../assets/desktop/image-hero-left.png"),
  url("../assets/desktop/image-hero-right.png");

  background-position:
  left var(--sp-800),
  right calc(2 * var(--sp-800));

  // background-size: auto calc(100% - (2 * var(--sp-800)));
  background-size: 394px 303px;
  background-repeat: no-repeat;

  .header-hero-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-content: center;
    justify-content: center;
    column-gap: var(--sp-400);

    > * {
      grid-column: 2;
    }

    .header-hero-grid-content {
      display: flex;
      flex-direction: column;
      gap: var(--sp-400);
      align-items: center;
      justify-content: center;
      text-align: center;

      .header-hero-heading {
        @include fonts.text-preset-1;
        color: colors.$slate-900;
        min-width: 448px;
      }

      .header-hero-copy {
        @include fonts.text-preset-4;
        color: colors.$slate-600;
      }

      .header-hero-buttons {
        display: flex;
        gap: var(--sp-200);

      }

      .header-hero-download-button {
        background-color: #71C0D4;
        @include fonts.text-preset-5;

        .text {
          color: colors.$white;
        }

        .version {
          color: colors.$cyan-300;
        }
      }

      .header-hero-whatisit-button {
        background-color: #B186DD;
        @include fonts.text-preset-5;
        color: colors.$white;
      }



    }
  }
}

.button-component {
  padding: var(--sp-200) var(--sp-500);
  border-radius: 29px;
  border: none;
}
