:root {
  --sp-1400: 112px;
  --sp-1000: 80px;
  --sp-900: 72px;
  --sp-800: 64px;
  --sp-700: 56px;
  --sp-500: 40px;
  --sp-400: 32px;
  --sp-300: 24px;
  --sp-200: 16px;
  --sp-100: 8px;
  --sp-50: 4px;
}

.button-component {
  padding: var(--sp-200) var(--sp-500);
  border-radius: 29px;
  border: none;
}

.number-line {
  display: flex;
  flex-direction: column;
  gap: 0;
  justify-content: stretch;
  align-items: center;
}
.number-line .line {
  background-color: #D1D1DF;
  width: 1px;
  min-height: 80px;
  flex-grow: 1;
}
.number-line p {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 1px solid #D1D1DF;
  background-color: #FAFAFA;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #87879D;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 900;
  font-size: 1rem;
  line-height: 150%;
  letter-spacing: 0rem;
}

* {
  margin: 0;
}

.TODO {
  display: none;
}

.header .header-logo {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding-top: var(--sp-1000);
}
.header .header-logo .header-logo-img {
  width: 118px;
  height: 28px;
}

.header .header-hero {
  display: flex;
  padding: var(--sp-800) var(--sp-1000);
  background-image: url("../assets/desktop/image-hero-left.png"), url("../assets/desktop/image-hero-right.png");
  background-position: left var(--sp-800), right calc(2 * var(--sp-800));
  background-size: 394px 303px;
  background-repeat: no-repeat;
}
.header .header-hero .header-hero-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-content: center;
  justify-content: center;
  column-gap: var(--sp-400);
}
.header .header-hero .header-hero-grid > * {
  grid-column: 2;
}
.header .header-hero .header-hero-grid .header-hero-grid-content {
  display: flex;
  flex-direction: column;
  gap: var(--sp-400);
  align-items: center;
  justify-content: center;
  text-align: center;
}
.header .header-hero .header-hero-grid .header-hero-grid-content .header-hero-heading {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 900;
  font-size: 4rem;
  line-height: 110%;
  letter-spacing: 0px;
  color: #28283D;
  min-width: 448px;
}
.header .header-hero .header-hero-grid .header-hero-grid-content .header-hero-copy {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 110%;
  letter-spacing: 0.25rem;
  color: #87879D;
}
.header .header-hero .header-hero-grid .header-hero-grid-content .header-hero-buttons {
  display: flex;
  gap: var(--sp-200);
}
.header .header-hero .header-hero-grid .header-hero-grid-content .header-hero-download-button {
  background-color: #71C0D4;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 900;
  font-size: 1rem;
  line-height: 150%;
  letter-spacing: 0rem;
}
.header .header-hero .header-hero-grid .header-hero-grid-content .header-hero-download-button .text {
  color: #FAFAFA;
}
.header .header-hero .header-hero-grid .header-hero-grid-content .header-hero-download-button .version {
  color: #8FE3F9;
}
.header .header-hero .header-hero-grid .header-hero-grid-content .header-hero-whatisit-button {
  background-color: #B186DD;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 900;
  font-size: 1rem;
  line-height: 150%;
  letter-spacing: 0rem;
  color: #FAFAFA;
}

.middle-section {
  padding: var(--sp-700) var(--sp-1000) var(--sp-900) var(--sp-1000);
  display: flex;
  justify-content: center;
  align-items: center;
}
.middle-section .middle-section-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--sp-800);
}
.middle-section .middle-section-content .images {
  display: flex;
  gap: var(--sp-400);
}
.middle-section .middle-section-content .images img {
  width: 256px;
  height: 256px;
  border-radius: 8px;
}
.middle-section .middle-section-content .text-content {
  display: flex;
  flex-direction: column;
  gap: var(--sp-400);
  text-align: center;
}
.middle-section .middle-section-content .text-content .heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--sp-200);
}
.middle-section .middle-section-content .text-content .heading p {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 900;
  font-size: 1rem;
  line-height: 110%;
  letter-spacing: 0.25rem;
  color: #4D96A9;
}
.middle-section .middle-section-content .text-content .heading h2 {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 900;
  font-size: 2.5rem;
  line-height: 110%;
  letter-spacing: 0px;
  color: #28283D;
  max-width: 445px;
}
.middle-section .middle-section-content .text-content p {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 110%;
  letter-spacing: 0.25rem;
  color: #87879D;
  max-width: 65ch;
}

.last-section footer {
  margin-top: -28px;
  padding: var(--sp-1400) var(--sp-1000);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--sp-400);
  justify-items: center;
  align-items: top;
  background-image: linear-gradient(rgba(77, 150, 169, 0.9), rgba(77, 150, 169, 0.9)), url("../assets/desktop/image-footer.jpg");
  background-size: cover;
}
.last-section footer .heading {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 900;
  font-size: 2.5rem;
  line-height: 110%;
  letter-spacing: 0px;
  color: #FAFAFA;
  justify-self: start;
}
.last-section footer .copy {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 110%;
  letter-spacing: 0.25rem;
  color: #FAFAFA;
}
.last-section footer .button-component {
  justify-self: end;
  align-self: start;
  background-color: #B18BDD;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 900;
  font-size: 1rem;
  line-height: 150%;
  letter-spacing: 0rem;
  color: #FAFAFA;
}
.last-section footer .button-component .version-text {
  color: #D9B8FF;
}

/*# sourceMappingURL=styles.css.map */
